<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778802244385-dtbb0g7k2sd4d9i7eb45uggcdpt9do5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778802244385-dtbb0g7k2sd4d9i7eb45uggcdpt9do5h</string>
	<key>API_KEY</key>
	<string>AIzaSyAZn67y7u9yUWILzLI_cLB4gftDQJv4cqI</string>
	<key>GCM_SENDER_ID</key>
	<string>778802244385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gt.hack.AppGT</string>
	<key>PROJECT_ID</key>
	<string>appgt-push</string>
	<key>STORAGE_BUCKET</key>
	<string>appgt-push.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778802244385:ios:f881012286ad48b7df6c60</string>
	<key>DATABASE_URL</key>
	<string>https://appgt-push.firebaseio.com</string>
</dict>
</plist>